body {
  font-family: "Montserrat";
  width: 1280px;
  margin: 0 auto;
  background-color: rgba(251, 251, 251, 1);
  color: rgba(45, 43, 43, 1);
}

section {
  display: block;
  border: dashed;
  border-color: rgb(238, 255, 0);
  position: relative;
}

/* Class */

#one {
  height: 931px;
}

#fist {
  height: 1723px;
}

#round {
  position: absolute;
  top: 179px;
  right: 340px;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 3px dashed #c0c0c0;
}
#lang {
  width: 1280px;
}

#one {
  display: flex;
  justify-content: center;
}

#one h1 {
  font-size: 150px;
  font-weight: 500;
  position: absolute;
  top: 450px;
}

#img-1 {
  width: 1280px;
  height: 931px;
  position: absolute;
  top: -20px;
}

#one h1 {
  font-size: 150px;
  font-weight: 500;
  position: relative;
  top: 450px;
}
#geom {
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 35px;
  top: -20px;
}

#grot {
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 1096px;
  top: -20px;
}
#sovr {
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 478px;
  top: 437px;
}

#yniv {
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 459px;
  top: 237px;
}

#img-2 {
}
